

<nav class="navbar navbar-inverse" role="navigation" ng-controller="navController">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active" ng-repeat="urls in navUrl"><a href="#{{urls.url}}">{{urls.link}}</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="JavaScript:void(0)"><span class="glyphicon glyphicon-user"></span> {{user.name}}</a></li>
        <li><a href="JavaScript:void(0)" ng-click="doLogout()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
